#mail{
    background-image: url("../../assets/mailed.jpg");
    background-size: cover;
   min-height: 100vh;
  
}
#helper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
#helper button{
    display: block;
    margin: 20px;
    background-color: #142865;
    border: transparent;
    color: white;
    font-family: 'Comic Neue', cursive;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
    padding: 10px;
    transition: 0.4s;
}
#helper button:hover{
    transform: scale(1.1);
    box-shadow: -10px 10px 10px rgba(0,0,0,0.5);
}
#warn{
    font-size: 80%!important;
    color: red;
}
.none{
    display: none;
}
textarea{
    cursor: context-menu;
}
#mail h2{
    margin-top: 0;
    position: relative;
    top: 20px;
    font-weight: bolder;
}
input:focus,textarea:focus{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    border: 1px solid transparent;
   cursor: text;
}
#mail p{
    font-size: 120%;
    text-transform: capitalize;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    margin: 40px;
   
    position: relative;
    top: 20px;
}
input,textarea{
    display: block;
    margin: 30px auto 10px auto;
}
.mail{
    display: block;
    background-color: #142865;
    color: white;
    width: 20%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid transparent;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
    font-family:'Barlow Condensed', sans-serif ;
    margin: 40px auto 0 auto;
    font-size: 120%;
    font-weight: bolder;
    padding: 10px;
    position: relative;
    top: -20px;
    transition: 0.3s;
    cursor: pointer;
}
.mail:hover{
    
    transform: scale(1.3);
}
input{
    width: 50%;
    height: 40px;
    font-family:'Barlow Condensed', sans-serif ;
    font-weight: bolder;
    font-size: 110%;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 10px;
}
textarea{
    height: 150px;
    width: 50%;
    font-family: 'Comic Neue', cursive;
   font-weight: bolder;
    font-size: 100%;
    border-radius: 2px;
    border: 1px solid transparent;
    padding: 10px;

}
@media (max-width:560px){
    input,textarea{
        width: 70%;
    }
}
@media (max-width:380px){
    input,textarea{
        width: 80%;
    }
}